

html{
    font-size: 14px;
    font-family: Roboto, sans-serif;
}

/* ппр леес переменные с цветами
Цвет-кнопок  = #fcb303 желтый
цвет иконок = #46b814 зеленый
цвет текста #1a1820; черный
фон - #f5f5f5 серый
*/
/* 1 rem = 10px */
section{
    padding: 50px 0;
}

.header a{
    text-decoration: none;
}

/* Первый экран */

.main{
    padding: 10px 0;
    background: #fff url(../img/main-bg.jpg) center center no-repeat;
}
main .main-content{
    margin-top: 114px;
}

.btn{
    color: white;
    padding: 8px;
    
    text-transform: uppercase;
}

.phone-link{
    display: inline-block;
    color: #1a1820;
    font-weight: 900;
    font-size: 20px;
    /* height: 70px;
    line-height: 70px; */
    margin-left: 100px;
    margin-top: 20px;
}
.wrap{
    display: table;
    width: 100%;
    height: 70px;
    
}
.wrap-block{
    padding: 15px;
    padding-left: 38px;
    text-align: right;
}


/* Первый экран */

/* ВТорой экран */

.main-title h1{
    margin-bottom: 30px;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.45;
}
.main-title p{
    margin: 20px 0;
    font-size: 15px;
    margin-bottom: 40px;
}
.main-title span{
    display: inline-block;
    padding: 20px 30px ;
    background-color: #46b814;
    color: white;
    font-size: 14px;
    text-align: center;
}
.main-triger{
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 700;
    display: block;
    margin-top: 20px;

}

.main-form{
    /* border: 1px dashed rebeccapurple; */
    background: #ffffff;
    text-align: center;
    padding: 15px 0;
}
.main-form h3{
    font-size: 15px;
    margin-top: 15px;
}
.main-form label,input,small{
    display: block;
    margin-top: 15px;
}



.main-form-input{
    line-height: 30px;
    
    margin-left: 50px;
    width: 75%;
    margin-top: 30px;
    
}
.main-form-input:hover{
    border-color:#fcb303 ;
}
.main-form label{
    background-color: #ffffff;
    position: absolute;
    
}
.label-1{
    margin-left: 150px;
    transform: translateY(-27px);
    /* border: 1px solid red; */
}
.label-2{
    margin-left: 115px;
    transform: translateY(3px);
    
    /* border: 1px solid red; */
}
.main-form-btn{
    margin-top: 30px;
    line-height: 30px;
    width: 75%;
    color: white;
}
/* ВТорой экран */
/* Третий экран */
.header-features{
    text-align: center;
    margin-bottom: 50px;
}
.cart{
    text-align: center;
    /* border: 1px solid yellowgreen; */
    height: 350px;
    margin-bottom: 15px;
}

.features-header h4,p{
    margin-top: 40px;
    
}

/* третий экран */

@media (min-width:992px) and (max-width: 1200px) {
    /* шапка */
    .phone-link{
        margin-left: 0px;
    }
    .btn{
        font-size: 10px;
    }
    .main-title h1{
    font-size: 30px;
    /* font-weight: 700; */
    /* line-height: 1.45; */

    }

    .main-title p{
        
        font-size: 13px;
        
    }
    .main-title span{
        padding: 10px 15px ;
    }
    .main-triger{
        font-size: 13px;
        
    }
    /* первый экран */

    
    
}
@media (min-width:769px) and (max-width: 991px){
    .main-title h1{
        font-size: 15px;
        font-weight: 700;
        
        /* line-height: 1.45; */
    
        }
    
        .main-title p{
            
            font-size: 13px;
            
            
        }
        .main-title span{
            padding: 5px 10px ;
        }
        .main-triger{
            font-size: 13px;
            
        }
        .phone-link{
            margin-left: 10px;
        }

}
@media (min-width: 576px) and (max-width: 768px) {
    /* шапка */
    .phone-link{
        margin-left: 160px;
    }
    .logo{
        padding-left: 160px;
    }
    .wrap{
        padding-left: 130px;
    }
    .wrap-block, .tel{
        text-align: left;
    }
    .tel{
        padding-left: 15px;
    }

    .main-title h1{
        font-size: 30px;
        /* font-weight: 700; */
        /* line-height: 1.45; */
    
        }
    
        .main-title p{
            
            font-size: 13px;
            
        }
        .main-title span{
            padding: 10px 15px ;
        }
        .main-triger{
            font-size: 13px;
            
        }
        .main-title{
            text-align: center;
        }
   
}

@media (min-width: 412px) and (max-width: 575px){
    /* шапка */
    .phone-link{
        margin-left: 1px;
    }
    
    .wrap-block, .tel, .logo{
        text-align: center;
    }
    .main-title{
        text-align: center;
    }
    .main-title h1{
        margin-top: -100px;
        margin-bottom: 30px;
        font-size: 15px;
        font-weight: 700;
        
        /* line-height: 1.45; */
    
        }
    
        .main-title p{
            
            font-size: 13px;
            
            
        }
        .main-title span{
            padding: 5px 10px ;
        }
        .main-triger{
            font-size: 13px;
            
        }
        .main-form{
            height:300px ;
            width:300px ;
        }
        .main-form-input{
            line-height: 30px;
            
            margin-left: 40px;
            width: 75%;
            margin-top: 30px;
            
        }
        .label-1{
            margin-left: 130px;
            transform: translateY(-25px);
            /* border: 1px solid red; */
        }
        .label-2{
            margin-left: 90px;
            transform: translateY(5px);
            
            /* border: 1px solid red; */
        }
        .main-form{
            margin-left: 70px;
            margin-top: 30px;
        }
}
@media (min-width: 0px) and (max-width: 412px){

    .phone-link{
        margin-left: 100px;
    }
    .logo{
        margin-left: 80px;
    }
    .btn{
        font-size: 10px;
        
    }
    .wrap-block{
        padding: 15px;
        padding-left: 0px;
        text-align: center;
    }
    .main-title{
        text-align: center;
    }
    .main-title h1{
        margin-bottom: 30px;
        text-transform: uppercase;
        font-size: 20px;
        font-weight: 700;
        line-height: 1.45;
    }
    .main-title p{
        margin: 20px 0;
        font-size: 14px;
        margin-bottom: 40px;
    }
    .main-title span{
        display: inline-block;
        padding: 10px 15px ;
        background-color: #46b814;
        color: white;
        font-size: 12px;
        text-align: center;
    }
    .main-triger{
        font-size: 15px;
        text-transform: uppercase;
        font-weight: 700;
        display: block;
        margin-top: 20px;
    
    }
}

/* ВТорой экран */
